.visible {
    display: inherit;
}

.oculto {
    display: none;
}

.marco {
    border: 1px solid var(--color2);
    border-radius: 5px;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
}

p.marco, div.marco > p {
    font-size: larger;
    margin: 1rem 0.5rem;
    padding: 0.75rem ;
    background-color: var(--color2);
    color: var(--color5);
    border-radius: 10px;
}

.imgEstado {
    width: 2rem;
}

label + div {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-items: center;
}

.marcoOK {
    border: 5px solid greenyellow;
}

.marcoNoOk {
    border: 5px solid yellow;
}

li {
    margin: 0.5rem 0;
    list-style-type: none;
}

ul {
    padding-left: 0;
    margin: 1rem 0.5rem;
}

input {
    margin: 0 0.5rem;
}

.seleccionado {
    background-color: #ffcc008a;
    padding: 0.25rem 2rem;
    border: 1px solid var(--color2);
    border-radius: 5px;
}

/* Retroalimentación */

#retroalimentacion dialog:open {
    top: 20%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--color3);
    border: none;
    border-radius: 20px;
}

dialog .botonera {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

dialog .botonera>.boton {
    width: 10rem;
}

.textoRetro {
    color: var(--color2);
}

.textoRetro > p {
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 2rem;
}

.imgRetro{
    display: flex;
    justify-content: center;
}

.imgRetro > img {
    width: 5rem;
    aspect-ratio: 1;
}