/* Drag & Drop */ 
.drop-area {
    background-color: var(--color3);
    padding: 0.5rem;
    height: 10rem;
}

#fragmentos div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem 2rem;
    background-color: var(--color2);
    color: var(--color5);
    cursor: pointer;
}

.word {
    text-align: left;
}

.drop-highlight {
    color: #153244;
    background-color: #ffcc00;
}

.oculto {
    display: none;
}

.drop-mov {
    background-color: #8de2d6;
    border-radius: 5px;
}

.dropped {
    color: var(--color5);
    background-color: var(--color2);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: smaller;
    line-height: 1rem;
}

/* Retroalimentación */

.imgEstado {
    width: 2rem;
}

p.word > div {
    justify-self: center;
}

#retroalimentacion dialog:open {
    width: 90%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2rem;
    background-color: var(--color3);
    border: none;
    border-radius: 20px;
    overflow: auto;
}

dialog .botonera {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

dialog .botonera>.boton {
    width: 10rem;
}

dialog::backdrop {
    background-color: var(--color5);
    opacity: 0.4;
}

.textoRetro {
    color: var(--color2);
}

.textoRetro > p {
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 2rem;
}

.imgRetro{
    display: flex;
    justify-content: center;
}

.imgRetro > img {
    width: 5rem;
    aspect-ratio: 1;
}

/* PUNTOS DE CORTE */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}