.visible {
    display: inherit;
}

.oculto {
    display: none;
}

.marco {
    display: grid;
    justify-items: center;
    background-color: var(--color3claro);
    border-radius: 12px;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
}

p.marco, div.marco > p {
    font-size: larger;
    margin: 1rem 0.5rem;
    padding: 0.75rem ;
    background-color: var(--color2);
    color: var(--color5);
    border-radius: 10px;
}

.imgEstado {
    width: 2rem;
}

label + div {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-items: center;
}

.marcoOK {
    border: 5px solid greenyellow;
}

.marcoNoOk {
    border: 5px solid yellow;
}

li {
    margin: 0.5rem 0;
    list-style-type: none;
}

ul {
    padding-left: 0;
    margin: 1rem 0.5rem;
}

input {
    margin: 0 0.5rem;
}

.seleccionado {
    display: flex;
    justify-content: center;
    background-color: #ffcc008a;
    padding: 0;
    border: 1px solid var(--color2);
    border-radius: 12px;
}

/* Retroalimentación */

.retroalimentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--color3);
    border-radius: 20px;
}

.retroalimentacion > * {
    margin-bottom: 1rem;
}

.textoRetro {
    color: var(--color2);
}

.textoRetro > p {
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 2rem;
}

.imgRetro{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
}

.imgRetro > img {
    width: 5rem;
    aspect-ratio: 1;
}

/* Desafío 3.1 */ 
.contOpcion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contOpcion > .imgRetro {
    margin: 0;
}

img.estacion {
    display: block; /* Evita espacios extra en línea */
    width: 100%; /* Opcional: ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 14px;
}

button.opcion {
    display: inline-block; 
    margin: 1rem;
    padding: 0;
    border-radius: 20px;
    border: none;
    background: none; /* elimina el fondo predeterminado */
    cursor: pointer;
}

button.opcion:hover {
    border: 5px solid var(--color2);
    background: none;
}

.mensaje {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.7);
    color: var(--color5);
    border-radius: 12px;
}

/* PUNTOS DE CORTE */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .retroalimentacion {
        flex-direction: column-reverse;
    }

    .marco {
        grid-template-columns: 50% 50%;
    }

    button.opcion {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    .marco {
        grid-template-columns: 25% 25% 25% 25%;
    }

    button.opcion {
        width: 70%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .marco {
        grid-template-columns: 25% 25% 25% 25%;
    }

    button.opcion {
        width: 80%;
    }
}