.visible {
    display: inherit;
}

.oculto {
    display: none;
}

.tarjeta {
    border: none;
    border-radius: 5px;
    background-color: var(--color3claro);
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    position: relative;
}

p.marco, div.marco > p, div.marco > details {
    font-size: larger;
    margin: 1rem 0.5rem;
    padding: 0.75rem ;
    background-color: var(--color2);
    color: var(--color5);
    border-radius: 10px;
}

.imgEstado {
    width: 2rem;
    position: absolute;
    bottom: 10px;
}

label + div {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-items: center;
}

.marcoOK {
    border: 5px solid greenyellow;
}

.marcoNoOk {
    border: 5px solid yellow;
}

li {
    padding: 0.25rem 0.25rem;
    margin: 0.5rem 0;
    list-style-type: none;
}

ul {
    padding-left: 0;
    margin: 1rem 0.5rem;
}

input {
    margin: 0 0.5rem;
}

.seleccionado {
    background-color: #ffcc008a;
    
    border: 1px solid var(--color2);
    border-radius: 5px;
}

/* Drag 'n' Drop */
.drop-highlight {
    color: #153244;
    background-color: #ffcc00;
}

.oculto {
    display: none;
}

.drop-mov {
    background-color: #8de2d6;
    border-radius: 5px;
}

div.tarjeta > .dropped {
    color: var(--color5);
    background-color: var(--color2);
    border-radius: 5px;
    margin: 0.5rem 0 3rem;
    padding: 0.25rem;
    font-size: smaller;
}

/* Exclusivos Desafio 2.1 */
.drop-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

#personajes {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.tarjeta > p.nombreTarjeta {
    font-size: 1.5rem;
}

.contrasteCero {
    filter: contrast(0);
}

.imgPersonaje {
    width: 60%;
    margin: 1rem 0;
}

/* Retroalimentación */

.retroalimentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--color3);
    border-radius: 20px;
}

.retroalimentacion > * {
    margin-bottom: 1rem;
}

.textoRetro {
    color: var(--color2);
}

.textoRetro > p {
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 2rem;
}

.imgRetro{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
}

.imgRetro > img {
    width: 5rem;
    aspect-ratio: 1;
}


/* PUNTOS DE CORTE */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .retroalimentacion {
        flex-direction: column-reverse;
    }

    .imgRetro {
        margin: 0;
    }

    #personajes {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    ul {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ul {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
    }
}