/* Acceso modal */
.infoBotonImg {
    font-size: large;
    border-style: none;
    background-color: transparent;
    border-radius: 50%;
}

.infoBotonImg:hover {
    color: var(--color5);
    background-color: var(--color2);
    border: 5px solid var(--color1);
}

/* Modales general*/
dialog {
    position: absolute;
    border: none;
    border-radius: 10px;
    z-index: 30;
}

dialog p {
    line-height: 1.5rem;
}

dialog:open {
    margin: 1rem 3.5rem;
    display: flex;
    flex-direction: column;
    height: auto;
}

div.cerrarModal {
    display: flex;
    justify-content: flex-end;
}

div.cerrarModal > button {
    width: 2rem;
    aspect-ratio: 1;
    font-size: x-large;
    font-weight: 700;
    border-style: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--color5);
}

div.cerrarModal > button:hover {
    color: var(--color2);
    background-color: var(--color1);
}

div.cerrarModal + h3, div.cerrarModal + h4 {
    font-size: 1.5rem;
}

div.cerrarModal + * {
    margin: 1rem 0;
}

/* Modales: ubicación, tamaño, colores */

#reinoModales dialog {
    color: var(--color2);
    background-color: var(--color1claro);
}

#elementosEncontrados dialog {
    color: var(--color5);
    background-color: var(--color4);
}

/* Botón a modal desde modal */
#definicionesExtras dialog {
    color: var(--color5);
    background-color: var(--color2);
}

button.defExtra {
    border: none;
    background-color: var(--color3claro);
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    font-size: inherit;
    font-weight: 600;
}

button.defExtra:hover {
    color: var(--color5);
    background-color: var(--color2);
}

/* PUNTOS DE CORTE */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    dialog:open {
        margin: 1rem 1.5rem;
    }

    dialog:open * {
        font-size: medium;
    }

    .infoBotonImg {
        font-size: medium;
    }

    #reinoModales dialog:open,
    #elementosEncontrados dialog:open,
    #definicionesExtras dialog:open 
    {
        width: 90%;
    }
    
    #reinoModales dialog:open {
        top: 45%;
        height: 15%;
        overflow-y: scroll;
    }

    #definicionesExtras dialog:open {
        top: 62%;
    }

    #elementosEncontrados dialog:open {
        top: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    #reinoModales dialog:open {
        top: 35%;
        height: 25%;
        overflow-y: scroll;
    }

    #definicionesExtras dialog:open {
        top: 58%;
    }

    #elementosEncontrados dialog:open {
        top: 76%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #reinoModales dialog:open {
        top: 47%;
        width: 60%;
        height: auto;
        overflow-y: hidden;
    }
    
    #definicionesExtras dialog:open {
        top: 80%;
        width: 60%;
    }

    #elementosEncontrados dialog:open {
        top: 47%;
        width: 25%;
        margin-left: 70%;
        right: 5%;
    }
}